:local(.container) {
    text-align: center;
    font: inherit;
    padding: 13px 12px;
    font-size: 15px;
    width: 384px;
    outline: none;
    display: block;
    margin: 0 auto 20px;
}
input {
    border: 4px solid var(--green-color);
    box-shadow: 0 1px 1px #DDD;  
    border-radius: 4px;
    color: var(--light-blue-color);
}

button {
    border: 4px solid var(--green-color);
    box-shadow: 0 1px 1px #DDD; 
    background-color: white;
    color: var(--light-blue-color);
    border-radius: 4px;
    margin-left: 10px;
}