footer {
    background-color: var(--blue-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
  }
  
  :local(.text) {
    color: var(--white-color);
    text-align: center;
  }
  