:root {
    --green-color: #90cea1;
    --grey-color: #3a3e3b;
    --white-color: #f0eff4;
    --light-blue-color: #01b4e4;
    --blue-color: #0d253f;
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }