:local(.buttonCard) {
    border: none;
    width: 200px;
    background-color: var(--white-color);
}
:local(.cardTitle) {
    width: 185px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-blue-color);
}